<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gevs"
        tools:targetApi="31">
        <activity
            android:name=".ui.user.voter.result.analytics.VoterAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.voter.result.resultdetails.VoterResultDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.admin.result.analytics.AdminAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.voter.vote.votedetails.VoterVoteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.admin.result.resultdetails.AdminResultDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.registervoter.VoterRegisterTwoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.registervoter.VoterRegisterOneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.voter.VoterMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.loginadmin.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.loginvoter.VoterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>